---
import { t } from 'i18n:astro'
import CardProject from '@components/CardProject.astro'

interface Project {
  title: string
  description: string
  image: string // imageプロパティの型定義
  techs: string[]
  preview: string
  link: string
}

const { title, projects } = t('projects', {
  returnObjects: true
}) as {
  title: string
  projects: Project[]
}
---

<section id="works" class="projects">
  <h2>
    <span>{title}</span>
  </h2>
  {
    projects.map((project) => (
      <CardProject
        src={project.image}
        alt={project.title}
        title={project.title}
        description={project.description}
        techs={project.techs}
        preview={project.preview}
        link={project.link}
      />
    ))
  }
</section>

<style>
  .projects {
    padding-bottom: 120px;
    & h2 {
      display: flex;
      gap: 24px;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      margin-bottom: 86px;
      @media (width >= 768px) {
        justify-content: start;
        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: var(--border-color);
        }
      }
      & span {
        order: 1;
      }
    }
  }
  .view-more {
    margin-top: 48px;
    text-align: center;
  }
  .view-more-button {
    padding: 12px 24px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }
</style>
