---
import { t } from 'i18n:astro'
import CardProject from '@components/CardProject.astro'
import Layout from '../layouts/Layout.astro'

const { projects } = t('projects', {
  returnObjects: true
})

const options = {
  title: '制作実績一覧です',
  description: '制作実績一覧です' // 必要に応じて適切な説明を設定してください
}
---

<main>
  <Layout options={options}>
    <div class="projects-list">
      {
        projects.map(
          ({ title, description, image, techs, code, preview, link }) => (
            <CardProject
              src={image}
              alt={title}
              title={title}
              description={description}
              techs={techs}
              code={code}
              preview={preview}
              link={link}
            />
          )
        )
      }
    </div>
  </Layout>
</main>
<style>
  main {
    max-width: 1054px;
    margin-inline: auto;
    padding-inline: var(--mobile-inline-padding);

    @media (width >= 1200px) {
      padding-inline: 0;
    }
  }
  .projects-list {
    padding-block: 113px;
  }
  @media (width >= 768px) {
    .projects-list {
      padding-block: 129px;
    }
  }
</style>
